*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}
:root
{
    font-size: 62.5%;
    --main_background : silver;
    --mainShade : rgba(0, 0, 0, 0.685);
    --mainGold : rgb(201, 171, 1);
}
body
{
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.navBar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 1% 2%;
    background-color: var(--mainShade,black);
}
.logo
{
    width: 12%;
}
.navButtons
{
    display: flex;
    justify-content: flex-start;
    gap :5rem;
    width: 30%;
}
.mainImage
{
    flex : 0 0 41%;
    margin-left: 5%;
}
.mainImage>img
{
    width: 96%;
    padding-top: 5%;

}

.headingStyler
{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    font-size: 5.5rem;
    width: 65%;
    color: var(--mainGold,gold);
}
#container
{
    display: flex;
    justify-content: space-between;
}
.mainHeading
{
    padding-top: 30%;
    display: flex;
    align-items: end;
}
.subHeading
{
    font-size: 3rem;
    font-weight: 900;
    padding-left: 0.5rem;
}
.navButtons > button
{
    font-size: 1.6rem;
    background-color: var(--mainShade);
    padding : 3% 6%;
    color: var(--mainGold,gold);
    border-radius: 2rem;
    outline: none;
    border: 0.1rem solid var(--mainGold,gold);

}
