*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}
:root
{
    font-size: 62.5%;
    --main_background : silver;
    --mainShade : rgba(0, 0, 0, 0.685);
}
body
{
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.navBar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 1% 0;
    background-color: var(--mainShade,black);
}
.logo
{
    width: 12%;
}
.navButtons
{
    padding : 0 5%;
    display: flex;
    justify-content: space-between;
    gap :5rem;
}
.mainImage
{
    width: 33%;
}
.mainImage:hover
{
    width: 35%;
}